<div>
	<h3> You have submitted <%= flash[:count]%> times! </h3> <br>

	<u>Submitted Information</u>
	Name: <%= session[:name] %> <br>
	Dojo Location: <%= session[:location] %> <br>
	Favorite Language: <%= session[:language] %> <br>
	Comment: <%= session[:comment] %> <br>

	<a href="/">Go back </a>
</div>